.twc-panel__header
  .twc-panel__title Card Clipped!
  .twc-panel__close(twc-panel-close)
.twc-success.twc-panel__main
  button.twc-button.twc-button--primary.twc-button--wide(
    ng-click="success.openCard()"
  ) View Card

  span or

  button.twc-button.twc-button--wide(
    ui-sref="main.clipping"
  ) Back
