div(
  twc-panel
  title="Card Clipped!"
  class="twc-success"
)
  button.twc-button.twc-button--primary.twc-button--wide(
    ng-click="success.openCard()"
  ) View Card

  span or

  button.twc-button.twc-button--wide(
    ng-click="success.closePopup()"
  ) Close
