.twc-panel__header
  .twc-panel__title Error
  .twc-panel__close(twc-panel-close)
.twc-success.twc-panel__main
  p Something goes wrong...

  button.twc-button.twc-button--primary.twc-button--wide(
    ui-sref="main"
    ui-sref-opts="{ reload: true }"
  ) Try again
