div(
  twc-panel
  title="Error"
  class="twc-error"
)
  p Something goes wrong...

  button.twc-button.twc-button--primary.twc-button--wide(
    ui-sref="main"
    ui-sref-opts="{ reload: true }"
  ) Try again
